body {
    background-color: #F6EEE9;
    height: 100vh;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(fotos/flamingo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
